$blue: rgb(25,166,214); // blue border in btn
$blue1: #1C55AD;
$blue2: #1C55AD;
$navyblue: #014975; // from footer
$darkgrey: #232524;
$darkgrey2: #2b2e2d; // from shortcuts
$darkgrey3: #2a252b; // grey from slider @ homepage
$grey: #4c5357; // font color @ homepage
$lightblue: #d1f6ff; // color of text in slider @ homepage
$lightblue2: #b3eaff;
$grey: #4D575B; // text color
$red: #CC2D23;
$orange: #CE4B00;
$green: #278741;
